<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>Sobre</title>    
    <!--css personalizado-->
    <link rel="stylesheet" href="../public/css/style.css">  
    <!--bootstrap-->
      <link rel="stylesheet" href="../public/css/bootstrap.min.css">

</head>
<body>
    <h1>Sobre</h1>
    <p>Author: Alex dos Reis</p>
    <p>Version: 1.0</p>
    <p>Sob a licença MIT <img src="../public/img/mit.png" alt="mit"></p>  
    <!--Rodapé-->   
    <footer class="OK">
        <button onclick="window.close()"><img src="../public/img/ok.png"alt="ok"></button>
    </footer>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>    
       
    
</body>
</html>
<button class="btn btn-outline-warnig" onclick="clientes()"><img src="../public/img/clientes.png"alt="clientes"></button>